body {
  background-color: #1f2937;
}
#main {
  background-color: #1f2937;
  width: 550px;
  height: 550px;
  margin: auto;
  padding: 20px;
}
hr {
  background-color: #2f3e53;
  /* width: 446px; */
  height: 2px;
  border: none;
  align-self: center;
}

#p1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  margin: 0%;
}
#p2 {
  color: #4adf86;
  font-size: 40px;
  font-weight: bolder;
  margin: 0%;
}
#p3 {
    color: #888888;
    
}
button {
    color: white;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    padding: 9px 17px 9px 15px;
    margin: 35px 0px;
}
.span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px 0px;
}
.span1 {
    color: #10B981;
    background-color: #2f3e53;
    width: 211px;
    height: 39px;
    margin: 0px 12px;
    border-radius: 6px;
    display: block;
    text-align: center;

}

.pp {
    font-weight: bold;
}
#p4 {
  color: white;
}
input {
  border: none;
  border-radius: 2px;
  width: 40px;
  height: 25px;
  color: #10B981;
  font-weight: bolder;
}